---
import PageLayout from "../layouts/PageLayout.astro";

import projects from "../data/projects.json";
import experience from "../data/experience.json";
import likes from "../data/likes.json";
---

<PageLayout>
  <img src="/edu.jpg" class="float-right w-32 rounded-full" />

  <div class="mb-4">
    <h1 class="text-4xl font-semibold">Eduardo Espadeiro</h1>
    <h2 class="text-2xl font-medium">student & soon-to-be software engineer</h2>
  </div>

  <p class="mb-4 text-xl">
    Currently writing my master's thesis on implementing a metaobject protocol
    for Julia.
  </p>

  <div class="mb-4">
    <h3 class="text-2xl font-semibold">Work Experience</h3>
    <ul>
      {
        experience.map((job) => (
          <li>
            {job.from} - {job.to}, {job.position} @ {job.company}
          </li>
        ))
      }
    </ul>
  </div>

  <div class="mb-4">
    <h3 class="text-2xl font-semibold">Some of my projects</h3>
    <ul>
      {
        projects.map((project) => (
          <li>
            <a href={project.href} class="hover:underline">
              {project.desc}
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  <div>
    <h3 class="text-2xl font-semibold">Things that I like</h3>
    <ul>
      {likes.map((like) => <li>{like}</li>)}
    </ul>
  </div>
</PageLayout>
