---
import { Post, PostData } from "@utils/posts";
import Layout from "./Layout.astro";

export interface Props extends PostData {}

const post = new Post(Astro.props as Props);
const description = post.description || "";
const image = post.image || "";
const title = post.title;
const formattedDate = post.formattedDate;
---

<Layout image={image} title={title} description={description}>
    <div class="hero is-dark">
        <div class="hero-head">
            {
                post.image && (
                    <figure class="image">
                        <img src={image} alt={title} />
                    </figure>
                )
            }
        </div>

        <div class="hero-body">
            <div class="container content is-max-desktop">
                <div class="mb-4">
                    <p class="title is-2 mb-2">{title}</p>
                    <p>{formattedDate}</p>
                </div>

                <slot />
            </div>
        </div>
    </div>
</Layout>
