---
import Layout from "./Layout.astro";

export interface Props {
    frontmatter: {
        title: string;
        date: string;
        image?: string;
        description?: string;
    };
}

const { frontmatter: { title, image, description, date } } = Astro.props as Props;
const seoImage = image || "";
const desc = description || "";

const formattedDate = new Date(date).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
});
---

<Layout image={seoImage} title={title} description={desc}>
    <div class="hero is-dark">
        <div class="hero-head">
            {image && <figure class="image"><img src={image} alt={title}></figure>}
        </div>

        <div class="hero-body">
            <div class="container content is-max-desktop">
                <div class="mb-4">
                    <p class="title is-2 mb-2">{title}</p>
                    <p>{formattedDate}</p>
                </div>

                <slot />
            </div>
        </div>
    </div>
</Layout>
